@font-face {
    font-family: Rhinos rocks;
    src: url(../fonts/rhinos_rocks.ttf);
}

@font-face {
    font-family: Dry Brush;
    src: url(../fonts/dry_brush.ttf);
}

@font-face {
    font-family: Circular Std;
    src: url(../fonts/circular-std-medium-500.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

html {
    font-family: 'Circular Std';
}

.welcome {
    max-width: 100%;
    min-height: 1060px;
    background: url('../img/bg/header_background.png') center center/cover no-repeat;
    position: relative;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1290px;
    margin: 0 auto;
    padding-top: 20px;
    margin-left: 10%;
}

.nav-links {
    width: 570px;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 75px;
    color: #FFFFFF;
    transition: .5s all;
}

.nav-links li a:hover {
    color: #f58c8c;
}

a .navbar-brand {
    display: block;
    max-width: 232px;
}

.logo_img {
    max-width: 100%;
    height: auto;
}

nav li span {
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    color: #FFFFFF;
}

.welcome .btn {
    max-width: 179px;
    height: 60px;
    background: #FF3232;
    cursor: pointer;
    border-style: none;
    position: relative;
    border-radius: 5px;
    -webkit-clip-path: polygon(20% 0, 100% 0%, 100% 70%, 80% 100%, 0 100%, 0 30%);
    clip-path: polygon(16% 0, 100% 0%, 100% 70%, 84% 100%, 0 100%, 0 30%);
    transition: .5s all;
}

.welcome .btn:hover {
    opacity: .8;
}

.welcome .btn:hover span {
    color: #facbcb;
}

.welcome .container {
    max-width: 1600px;
}

.welcome .welcome_wrapper {
    display: flex;
    justify-content: space-between;
}

.welcome .text_box {
    margin-left: 10%;
}

.welcome .text_box .welcome_title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFF4F2;
    margin-top: 100px;
}

.text_box h1 {
    font-family: 'Rhinos rocks';
    font-weight: 500;
    font-size: 227px;
    letter-spacing: 14px;
    text-transform: lowercase;
    color: #FF3232;
    margin-bottom: -40px;
}

.text_box h2 {
    font-family: 'Dry Brush';
    font-weight: 400;
    font-size: 89px;
    color: #FFFFFF;
}

.welcome .welcome_text {
    font-weight: 200;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 27px;
}

.welcome .text_box .welcome_btn {
    width: 161.99px;
    height: 60px;
    background: #FF3232;
    cursor: pointer;
    border-style: none;
    margin-top: 35px;
    position: relative;
    border-radius: 5px;    
}

.welcome .welcome_btn {
    -webkit-clip-path: polygon(20% 0, 100% 0%, 100% 70%, 80% 100%, 0 100%, 0 30%);
    clip-path: polygon(16% 0, 100% 0%, 100% 70%, 84% 100%, 0 100%, 0 30%);
}

.welcome .text_box span {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.welcome .welcome_btn img {
    margin-left: 15px;
}

.welcome_img_box {
    width: 51%;
    align-self: flex-end;
}

.welcome .main_carachter {
    max-width: 100%;
    height: auto;    
    z-index: 0;
}

/* ****************************STORY*************************** */

.story {
    min-height: 1038px;
    background: #fff;
    position: relative;
    z-index: 2;
}

.story .container {
    max-width: initial;
    display: flex;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
}

.story::before {
    content: "";
    display: block;
    max-width: 100%;
    max-height: 260px;
    height: 100%;
    background: url(../img/bg/story_top.png) center top/cover no-repeat;
    position: absolute;
    top: -259px;
    left: 0;
    right: 0;
}

.story .story_img_box {
    margin-bottom: -6%;
    align-self: flex-end;
}

.story .story_character {
    max-width: 100%;
    height: auto;
}

.story .story_wrapper {
    max-width: 684px;
    display: block;
    margin-left: 55px;
    margin-right: 55px;
}

.story .story_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 75px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #FF3232;
}

.story .story_about_us {
    font-family: 'Rhinos rocks';
    font-weight: 500;
    font-size: 100px;
    line-height: 75px;
    color: #1D2A3E;    
    margin-top: 10px;
}

.story .story_about_us span {
    color: #FF3232;
}

.story .story_text {
    margin-top: 50px;
    font-weight: 450;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #787D84;
}

/* **************************NFTNOMICS*************************** */

.nftnomics {
    min-height: 1294px;
    background: url('../img/bg/nftnomics_background.png') center center/cover no-repeat;
    margin-top: -175px;
    margin-bottom: -176px;
    position: relative;
    z-index: 4;
}

.nftnomics .container {
    padding-top: 250px;
}

.nftnomics .nftnomics_title {
    font-weight: 900;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}

.nftnomics_emphasis_white {
    display: block;
    margin: 0 auto;
}

.nftnomics .container {
    max-width: 1100px;
}

.nftnomics .card {
    max-width: 308px;
    height: auto;
    background: linear-gradient(180deg, rgba(239, 203, 203, 0) 48.96%, #FFFFFF 97.4%);
    border-radius: 59px;
    border: none;
    transition: 550ms all;
    margin: 0 auto;
}

.nftnomics .card:hover {
    background: linear-gradient(180deg, rgba(255, 50, 50, 0) 48.96%, #FF3232 97.4%);
    filter: drop-shadow(0px 4px 44px rgba(231, 49, 51, 0.37));
    transform: scale(1.1);
    transition: 550ms all;
}

.nftnomics .card:hover .circles {
    background: url(../img/nftnomics_circle_red_black.png) center no-repeat;
    background-size: contain;
}

.nftnomics .card:hover .card_footer span {
    font-weight: 500;
    font-size: 30px;
    line-height: 58px;

    text-align: center;
    transition: 550ms all;
    color: #FFFFFF;
    background-image: linear-gradient(180deg, #ffc3c3, #ff5353);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.circles {
    background: url(../img/nftnomics_circle_white_black.png) center no-repeat;
    background-size: contain;
    max-width: 276px;
    height: 276px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.black_circle {
    max-width: 202px;
    max-height: 202px;
    width: 100%;
    height: 202px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nftnomics .black_circle span {
    font-weight: 500;
    font-size: 50px;
    line-height: 58px;
    color: #FCFDFF;
}

.card_footer {
    text-align: center;
    margin-bottom: 30px;
}

.nftnomics .card_footer span {
    font-weight: 500;
    font-size: 22px;
    line-height: 53px;
    color: #1C293D;
}

.nftnomics_img_box {
    max-width: 31%;
    width: 100%;
    max-height: 59%;
    height: 100%;
    background: url(../img/nftnomics_character.png) no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 11%;
    z-index: -1;
}

/* *************************SALES STAGES*************************** */

.sales_stages {
    min-height: 800px;
    background-color: #142034;
    position: relative;
    z-index: 4;    
}

.sales_stages .container {
    max-width: 1200px;
}

.sales_stages::before {
    content: "";
    display: block;
    height: 251px;
    background: url(../img/bg/sales_stages_bg1.png) no-repeat;
    background-size: cover;
    background-position: 77% 50%;
    position: absolute;
    top: -250px;
    right: 0;
    left: 0;
}

.sales_stages_title {
    font-weight: 900;
    font-size: 65px;
    line-height: 75px;        
    text-align: center;
    color: #FFFFFF;
    padding-top: 60px;
}

.sales_stages_title span {
    color: #FF3232;
}

.sales_stages_emphasis_red {
    display: block;
    margin: 0 auto;
}

.sales_stages_img_box {
    max-width: 32%;
    width: 100%;
    height: 100%;
    background: url(../img/sales_stages_character_left.png) left center / contain no-repeat;
    position: absolute;
    top: -200px;
    opacity: 0.6;
}

.sales_stages_card_wrapper {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sales_stages_card_wrapper::after {
    content: "";
    display: block;
    width: 100%;
    height: 440px;
    border-radius: 22px;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.1);
    background-color: #061121;
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translateX(-50%);
    z-index: 1;
}

.sales_stages .card {
    max-width: 268px;
    width: 24%;
    max-height: 388px;
    padding: 25px 16px 56px;
    background: #434b57;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
    border: 6px solid #2E3744;
    cursor: pointer;
    position: relative;
    transition: 0.2s all;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sales_stages .card:nth-child(3) {
    transform: translateY(70px);
}

.sales_stages .card:hover {
    background: #ffffff;
}

.sales_stages .card:hover h5 {
    color: #061121;
}

.sales_stages .card:hover .number {
    border: 5px solid rgb(255, 255, 255);
    background-color: #ff3232;
}

.sales_stages .active {
    background: #585f69;    
}

.sales_stages .active h5 {
    color: #061121;
}

.sales_stages .number {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 1.5625rem;
    font-weight: 500;
    height: 56px;
    width: 56px;
    background-color: #444c58;
    border-radius: 50%;
    border: 5px solid #2F3744;
    transform: translate(-30%, -30%);
}

.sales_stages .number_active {
    background-color: #1bb988;
    background: url('../icons/v_1.png') center center no-repeat;
    border: 5px solid #ffffff;
}

.card_img_box {
    margin-top: 20px;
    margin-bottom: 60px;
}

.sales_stages_card_wrapper h5 {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #B3B6B9;
    opacity: 0.7;
}

.sales_stages_card_wrapper p {
    font-weight: 450;
    font-size: 23px;
    text-align: center;
    color: #787D84;
}

.arrow_top_box {
    max-width: 10%;
    width: 100%;
    height: auto;
    z-index: 2;
    margin-top: 15%;
}

.arrow_top {
    background: url('../img/top_dotted_line_gray_with_arrow.png');
    height: 95px;
    background-position: 43%;
}

.arrow_bottom_box {
    max-width: 10%;
    width: 100%;
    height: 95px;
    z-index: 2;
    margin-top: 12%;
}

.arrow_bottom {
    background: url('../img/bottom_dotted_line_gray_with_arrow.png') no-repeat;
    background-position: 55%;
    height: 95px;
    z-index: 2;
}

.sales_stages_card_wrapper .white_top {
    background: url('../img/top_dotted_line_white_with_arrow.png') no-repeat;
    background-position: 43%;
    height: 95px;
    z-index: 2;
}

.sales_stages_card_wrapper .white_bottom {
    background: url('../img/bottom_dotted_line_white_with_arrow.png') no-repeat;
    background-position: 55%;
    height: 95px;
    z-index: 2;
}

/* **********************ROADMAP********************** */

.roadmap {
    min-height: 1747px;
    padding: 160px 0px;
    background: linear-gradient(180deg, #142034 36.72%,#702b40 63.92%,#AE2C42 92.68%);
    position: relative;
}

.roadmap .container {
    display: flex;
    flex-direction: column;
}

.roadmap_title {
    font-family: 'Rhinos rocks';
    font-weight: 500;
    font-size: 105px;
    line-height: 75px;
    text-align: center;
    color: #FEFEFF;
    padding-top: 50px;
}

.roadmap_title::after {
    content: "";
    display: block;
    width: 242px;
    height: 34px;
    background: url(../img/nftnomics_emphasis_white.png) center center / contain no-repeat;
    margin: 0 auto;
    margin-top: 20px;
}

.roadmap_title span {
    color: #FF3232;
}

.roadmap_descr {
    font-weight: 450;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #ABB0B8;
    margin-top: 30px;
}

.roadmap #startpoint {
    width: 35px;
    height: 35px;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid #C4C4C4;
    border-radius: 50%;
    background: #C52D43;
    z-index: 2;
}

.roadmap #endpoint {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid #C4C4C4;
    border-radius: 50%;
    background: #C52D43;
}

.timeline {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 100px auto 80px auto;
    padding: 150px 0px 100px 0px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.timeline::before {
    content: '';
    position: absolute;
    background-color: #C4C4C4;
    width: 14px;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.timeline ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.timeline ul li {
    margin-bottom: 85px;
    color: #1D2A3E;
    transition: .5s all;
    position: relative;
}

.timeline ul li:last-child {
    margin-bottom: 0;
}

.timeline ul li:nth-child(odd) {
    padding-right: 120px;
}

.timeline ul li:nth-child(even) {
    padding-left: 120px;
}

.round_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

.connector {
    width: 52px;
    height: 4px;
    position: absolute;
    background-color: #6F7988;
    z-index: 2;
}

.connector_round {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #6F7988;
    position: absolute;
    top: -50%;
}

.timeline ul li:nth-child(odd) .connector_round {
    left: -1px;
}

.timeline ul li:nth-child(even) .connector_round {
    right: -1px;
}

.connector_hovered {
    background-color: #fff;
}

.connector_round_hovered {
    background: #fff;
}

.timeline ul li:nth-child(odd) .connector {
    left: -75px;
}

.timeline ul li:nth-child(even) .connector{
    right: -75px;
}

.timeline ul li:nth-child(odd) .connector::before {
    left: -1px;
    top: -50%;
}

.timeline ul li:nth-child(even) .connector::before {
    right: -1px;
    top: -50%;
}

.round {
    font-weight: 900;
    font-size: 25px;
    line-height: 26px;
    color: #1D2A3E;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: #fff;
    border: 8px solid #6F7988;
    position: absolute;    
    z-index: 2;
}

.round_hovered {
    border: 8px solid #C52D43;
}

.round-lg {
    width: 83px;
    height: 83px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.round-lg_hovered {
    background: #C52D43;
    opacity: 0.5;
}

.timeline-content {
    width: 50%;
    padding: 42px 27px;
    border-radius: 28px;
    background-color: #fff;
    transition: .5s all;
}

.timeline-content:hover {
    background: #C22F2F;
    color: #fff;
}

.timeline ul li:nth-child(even) .timeline-content {
    margin-left: 50%;
}

.timeline ul li:nth-child(2n+1) .timeline-content:after {
    content: '';
    width: 10px;
    height: 0;
    background-color: #C52D43;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    transition: 0.5s all;
    transition-timing-function: linear
}    

.timeline ul li:nth-child(2n+1) .timeline-content:hover::after {
    height: calc(100% + 25%);
}

.timeline ul li:first-child .timeline-content:hover::after {
    height: 100%;
}

.timeline ul li:nth-child(2n) .timeline-content:after {
    content: '';
    width: 10px;
    height: 0;
    background-color: #C52D43;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    transition: 0.5s all;
    transition-timing-function: linear
}

.timeline ul li:nth-child(2n) .timeline-content:hover::after {
    height: calc(100% + 10%);
}

.timeline ul li:last-child .timeline-content:hover::after {
    height: calc(100% + 50%);
}

.timeline-content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0;
}

.roadmap .skull_lowest_image {
    display: block;
    margin: 0 auto;
}

.roadmap_img_box_top {
    max-width: 29%;
    width: 100%;
    max-height: 31%;
    height: 100%;
    background: url(../img/roadmap_character_right_1.png) no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 3%;
    mix-blend-mode: luminosity;
    opacity: 0.06;
}

.roadmap::after {
    content: "";
    display: block;
    background: url(../img/lowest_character.png) left center/contain no-repeat;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 780px;
    width: 100%;
}

/* ****************FOOTER**************** */

.footer {
    height: 155px;
    padding: 35px 0px;
    background-color: black;
}

.footer .container {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .frame {
    width: 172px;
    height: 85px;
}

.footer p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    text-align: center;
    color: #FFFFFF;
}

.footer ul {
    list-style: none;
    display: flex;
    gap: 17px;
    margin: 0;
    padding: 0;
}

.footer li {
    width: 36px;
    height: 36px;
    border: 1px solid #FE5642;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.2s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer li:hover {
    background-color: #FE5642;
}

.footer li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* *******************UP BUTTON******************* */

.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 8vh;
    width: 50px;
    height: 50px;
    border-color: transparent;
    border-radius: 50%;
    background-color: #FF3232;
    z-index: 15;
    transition: all .5s ease;
    display: none;
}

.back-to-top:hover {
    filter: brightness(1.5);
    outline: none;
}

.back-to-top::before,
.back-to-top::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back-to-top::before {
    width: 5px;
    height: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f5f0f6;
}

.back-to-top::after {
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 5px solid #f5f0f6;
    border-left: 5px solid #f5f0f6;
}

/* ********************MODAL********************* */

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
    overflow-y: auto;
    background-color: rgba(6, 17, 33, 0.91);;
}

#modal {
    display: none;
}

.modal {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 418px;
    width: 100%;
    height: 477px;
    background-color: #11151B;
    border: 1px solid rgba(255, 255, 255, 0.13);
    box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.55);
    border-radius: 15px;
    padding: 36px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.modal_close {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 30px;
    right: 24px;
    font-size: 31px;
    line-height: 23px;
    color: #272729;
    background: #3F3F3F;
    border: 4px solid #2A2A2C;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease;
}

.modal_close:hover {
    background: #fff;
}

.modal_subtitle {
    font-weight: 700;
    font-size: 27px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.modal_subtitle span {
    color: #EA2A46;
}

.overlay .btn {
    height: 73px;
    width: 100%;
    background-color: #1c1c22;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.125rem;
    padding: 0px 37px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
}

.overlay .btn:hover {
    opacity: .8;
}

.overlay .btn img {
    margin-right: 30px;
}

.feed-form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    transition: all .2s ease;
}

.feed-form .button_submit {
    background-color: #ea2a46;
    font-size: 1.1875rem;
    font-weight: 700;
    justify-content: center;
}

.feed-form a {
    color: #FFFFFF;
    opacity: 0.4;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
}

@media (max-width: 1492px) {
    .welcome_img_box {
        margin-bottom: -15%;
    }

    .story .story_img_box {
        margin-bottom: -7%;
    }

    .nftnomics_img_box {
        bottom: -11%;
    }
}

@media (max-width: 1280px) {
    .nftnomics_img_box {
        bottom: -10%;
    }

    .timeline ul li:nth-child(odd) {
        padding-left: 20px;
    }

    .timeline ul li:nth-child(even) {
        padding-right: 20px;
    }

    .timeline ul li:nth-child(odd) .connector {
        left: -65px;
    }

    .timeline ul li:nth-child(even) .connector {
        right: -65px;
    }
}

@media (max-width: 1180px) {
    .text_box h1 {
        font-size: 210px;
    }

    .welcome_img_box {
        margin-bottom: -18%;
    }

    .story .story_img_box {
        margin-bottom: -8%;
    }
    
    .nftnomics_img_box {
        bottom: -18%;
    }
}

@media (max-width: 1080px) {
    .text_box h1 {
        font-size: 180px;
    }

    .welcome_img_box {
        margin-bottom: -24%;
    }

    .story .story_img_box {
        margin-bottom: -9%;
    }
}

@media (max-width: 992px) {
    .navbar-brand {
        max-width: 180px;
    }

    nav {
        margin-left: 5%;
    }

    .welcome {
        min-height: 930px;
    }

    .welcome .text_box .welcome_title {
        font-size: 16px;
        margin-top: 80px;
    }

    .welcome .text_box {
        margin-left: 5%;
    }

    .text_box h1 {
        font-size: 130px;
    }

    .text_box h2 {
        font-size: 69px;
        margin-top: 38px;
    }

    .welcome_img_box {
        width: 60%;
        margin-bottom: -18%;
    }

    .story::before {
        top: -200px;
    }

    .story .container {
        height: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .story .story_wrapper {
        max-width: 100%;
    }

    .story .story_about_us {
        font-size: 75px;
    }

    .story .story_img_box {
        padding-top: 30px;
        align-self: flex-start;
        max-width: 50%;
    }

    .story .story_img_box {
        margin-bottom: 0;
    }    

    .nftnomics_img_box {
        bottom: -21%;
    }

    .nftnomics .nftnomics_title {
        font-size: 55px;
    }

    .sales_stages .card {
        padding: 20px 16px 37px;
        max-height: 340px;
    }

    .card_img_box {
        margin-bottom: 40px;
    }

    .sales_stages_card_wrapper h5 {
        font-size: 18px;
    }
    
    .sales_stages_card_wrapper p {
        font-size: 15px;
    }

    .roadmap::after {
        display: none;
    }

    .timeline ul li:nth-child(2n+1) .timeline-content:after{
        bottom: 100%;
    }

    .timeline ul li:nth-child(2n) .timeline-content:after{
        bottom: 100%;
    }

    .timeline ul li:first-child .timeline-content:hover::after {
        height: 38%;
    }

    .round_box {
        top: 8%;
    }
}

@media (max-width: 868px) {
    .nftnomics_img_box {
        bottom: -23%;
    }

    .card_img_box {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .overlay-nav {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9;
        overflow-y: auto;
        background-color: rgba(6, 17, 33, 0.31);
    }

    nav {
        position: relative;
    }

    .hamburger {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        cursor: pointer;
        height: 24px;
        z-index: 10;
    }

    .line {
        display: block;
        width: 35px;
        height: 4px;
        background: #fff;
        margin: 4px;
        transition: all 0.5s;
    }

    .line_active {
        margin-bottom: -4px;
        background-color: #818181;
    }

    .line_active:nth-child(1) {
        transform: translateY(6px) rotate(-45deg);
    }

    .line_active:nth-child(2) {
        display: none;
    }

    .line_active:nth-child(3) {
        transform: translateY(2px) rotate(45deg);
    }

    .nav-links {
        position: fixed;
        height: 100vh;
        width: 50%;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.85);
        flex-direction: column;      
        justify-content: center;
        align-items: center;  
        padding-left: 0;
        transform: translateX(-100%);
        visibility: hidden;
        transition: all 0.6s ease-out;
        z-index: 10;
    }

    .nav-links li:last-child {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.8s;
    }

    .open {
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(0%);
        transition: all 0.6s ease-out;
        z-index: 10;
    }

    .shown {
        opacity: 1;
    }

    .welcome .welcome_wrapper {
        flex-direction: column;
    }

    .welcome .text_box {
        text-align: center;
        width: 100%;
        margin-left: initial;
    }

    .welcome .text_box .welcome_title {
        margin-top: 20px;
    }

    .welcome_img_box {
        width: 75%;
        margin-top: 20px;
        margin-left: 15%;
        margin-bottom: 0;
        align-self: center;
    }

    .story::before {
        top: -95px;
    }

    .story .story_wrapper {
        margin-left: 40px;
        margin-right: 40px;
    }

    .story .story_img_box {
        margin-bottom: -6%;
    }

    .nftnomics {
        margin-bottom: 0;
        padding-bottom: 40px;
    }

    .nftnomics_img_box {
        max-width: 358px;
        width: 100%;
        max-height: 338px;
        height: 338px;
        position: static;
        background: url(../img/nftnomics_character_small.png) no-repeat;
        margin: 0 auto;
        margin-top: 80px;
    }

    .sales_stages_img_box {
        display: none;
    }

    .sales_stages_card_wrapper {
        flex-direction: column;
        padding-top: 0;
    }

    .sales_stages_card_wrapper::after {
        display: none;
    }

    .sales_stages .card:nth-child(2) {
        transform: translate(0);
    }

    .sales_stages .card {
        margin-top: 70px;
        width: 100%;
        max-height: 388px;
    }

    .sales_stages .card:nth-child(3) {
        transform: translateY(0);
    }

    .sales_stages .card h5, .sales_stages .card p {
        font-size: 20px;
    }

    .sales_stages .card:hover {
        background: #434b57;
    }

    .sales_stages .card:hover .number {
        border: 5px solid #2F3744;
        background-color: #444c58;
    }

    .card_img_box {
        margin-bottom: 60px;
    }

    .arrow_top_box, .arrow_bottom_box {
        display: none;
    }

    .roadmap_img_box_top {
        max-width: 40%;
        top: 0;
    }

    .timeline ul li {
        width: 100%;
        margin-bottom: 120px;
        align-self: center;  
    }

    .timeline ul li:nth-child(odd) {
        padding-right: 20px;
    }

    .timeline ul li:nth-child(even) {
        padding-left: 20px;
    }

    .timeline ul li:first-child .timeline-content:hover::after {
        height: 60%;
    }

    .round_box {
        top: 0;
    }

    .connector {
        display: none;
    }

    .timeline ul li:nth-child(even) .timeline-content {
        margin-left: 0;
    }

    .timeline-content {
        width: 100%;
    }
}

/* @media (max-width: 576px) */

@media (max-width: 560px) {
    .story::before {
        top: -70px;
    }

    .timeline ul li:first-child .timeline-content:hover::after {
        height: 45%;
    }
}

/* @media (max-width: 410px) */

@media (max-width: 410px) {
    .timeline ul li:first-child .timeline-content:hover::after {
        height: 35%;
    }
}